:root {
    --background-color: white;
    --darkground-color:#007bff;
    --darker-background-color: #000000;
    --accent-color: #41DCE1;
    --text-color: black;
    --brighter-text-color: white;
    --navbar-height: 80px;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

header {
    background-color: var(--darkground-color);
    color: var(--brighter-text-color);
    padding: 20px;
    text-align: center;
}

footer {
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

#title {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 11px;
}

/* corpo */

.content {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}


.content h2{
    text-align: center;
    font-size: 30px;
    border-bottom: 1.5px solid #595b5b;
    padding-bottom: 40px;
    margin-bottom: 25px;
    margin-top: 80px;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
}

/* /corpo */

/* barra di scorimento */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 7px;
}

/* /barra di scorimento */

/* menu a comparsa */
nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
}

nav a {
    text-decoration: none;
    color: red;
    font-size: 23px;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin-left: 20px;
    padding: 0;
}

nav details {
    border: 1px solid #ccc;
    background-color: #3b3b3b;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
}

nav summary {
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

/* /menu a comparsa */